<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Reservation/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-badge-check"></i>
            <div data-i18n="Analytics">Rezervasyonlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destination/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-trip"></i>
            <div data-i18n="Analytics">Tur Rotaları</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Guide/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-voice"></i>
            <div data-i18n="Analytics">Rehberler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/User/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-check"></i>
            <div data-i18n="Analytics">Misafiler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message-rounded-dots"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Announcement/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-notification"></i>
            <div data-i18n="Analytics">Duyurular</div>
        </a>
    </li>
   
    <li class="menu-item">
        <a href="/Admin/ApiExchange/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-money"></i>
            <div data-i18n="Analytics">Kur Oranları</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ApiMovie/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-movie"></i>
            <div data-i18n="Analytics">Film Bİlgileri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/City/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-buildings"></i>
            <div data-i18n="Analytics">Ajax City</div>
        </a>
    </li>

    

    <li class="menu-item">
        <a href="/Admin/PdfReport/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-dock-right"></i>
            <div data-i18n="Analytics">Raporlar</div>
        </a>
 


    
   
    <li class="menu-item">
        <a href="/Admin/DestinationCQRS/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-layer-plus"></i>
            <div data-i18n="Analytics">Destination CQRS</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/DestinationMediatR/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-layer-plus"></i>
            <div data-i18n="Analytics">Guide MediatR</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Mail/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-mail-send"></i>
            <div data-i18n="Analytics">E-Posta Gönder</div>
        </a>
    </li>

    
 
  
    <li class="menu-item">
        <a href="/Admin/Role/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-terminal"></i>
            <div data-i18n="Analytics">Rol İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Role/UserList" class="menu-link">
            <i class="menu-icon tf-icons bx bx-terminal"></i>
            <div data-i18n="Analytics">Kullanıcı Rol Listesi</div>
        </a>
    </li>

</ul>
