<ul class="nav navbar-nav mr-auto float-left">
    <li class="nav-item d-block d-md-none"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
    <li class="nav-item lh-1 me-3">
        <a style="z-index:3;" class="btn btn-outline-dark" href="/Admin/Dashboard/Index"><i class="bx bx-run me-1"></i> Admin  Paneli</a>
    </li>
</ul>